*{
    margin: 0 auto;
    padding: 0;
}

header{
    display: flex;
    background-color: rgb(50, 167, 145);
    height: 50px;
    justify-content: space-between;
}

form.trybewarts-login {
    display: flex;
    align-content: space-between;
}

#trybewarts-header-title{
    text-align: center;
}

main form {
    display: flex;
}

#evaluation-form {
    flex-direction: column;
}
