*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: rgb(50, 167, 145);
    height: 42px;
    justify-content: space-between;
}

.trybewarts-login {
    display: flex;
    align-items: center;
}

#button-submit {
    height: 20px;
}

main{
    display: flex;
    background-color: azure;
    padding: 10px;
    border: red solid 2px;
    justify-content: center;
}


#evaluation-form {
    display: flex;
    flex-direction: column;
    width: 675px;
    /* align-content: space-between; */
}

#trybewarts-forms-logo {
    height: 500px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    border: blue solid 2px;
    max-width: 100%;
    align-items: center;
    width: 80%;
}

.c-left{
    flex: 50%;
    border: solid black 1px;
}
.c-right{
    flex: 50%;
    border: 1px red solid;
}



