* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 42px;
  justify-content: space-between;
  max-width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.trybewarts-login {
  display: flex;
  width: 33%;
  justify-content: space-between;
  align-items: center;
}

#button-submit {
  height: 20px;
}

main {
  display: flex;
  max-width: 100%;
  justify-content: space-evenly;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  justify-content: center;
  border: 2px solid red;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
}

.side-by-side {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.padding-inline {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-inline: 10%;
}

#label-family {
  display: flex;
  flex-direction: column;
}

#label-content {
  display: flex;
  flex-direction: column;
}

#label-house {
  padding-right: 8%;
}

footer {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#counter {
  padding-bottom: 20px;
}
